#include <zephyr/dt-bindings/pinctrl/esp32-pinctrl.h>

/ {
    aliases {
        i2s-tx = &i2s0;
    };
};

&i2s0 {
    status = "okay";
    pinctrl-0 = <&i2s0_default>;
    pinctrl-names = "default";
};

&pinctrl {
    i2s0_default: i2s0_default {
        group1 {
            pinmux = <I2S0_O_BCK_GPIO26>,
                     <I2S0_O_WS_GPIO25>,
                     <I2S0_O_SD_GPIO22>;
        };
    };
};
